
<!DOCTYPE html>

<div class="container">
    <div class="header">
        <h1>Contacts</h1>
    </div>
    <div class="content">
        <table class="table table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TODO: Name</td>
                    <td>TODO: FirstName</td>
                    <td>TODO: Email</td>
                    <td>TODO: Phone</td>
                    <td>TODO:Company (if not null)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
