<div class="text-center">
    <h1 class="display-4">Choose a category:</h1>
</div>
<div class="row">
    <a class="col col-sm-6 text-decoration-none text-reset">
        <div class="card m-2 p-5 text-center text-black">
            <h4>Show the categories in this type of cards</h4>
        </div>
    </a>
</div>