<div class="text-center">
    <h1 class="display-4">Pick a question:</h1>
    @* make this link work: *@
    <a>Back</a>
</div>
<hr />

<div class="row">


    <a class="text-reset text-decoration-none">
        <div class="col card m-1 p-5">
            Show the questions in this type of card, and make sure the &lt;a&gt; tags work.
        </div>
    </a>

</div>